@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Open Sans', 'Merriweather Sans', sans-serif;
    font-size: 16px;
  }
  h1 {
    @apply font-bold text-5xl mb-2 leading-tight;
    font-family: 'Merriweather Sans', 'Open Sans', sans-serif;
  }
  h2 {
    @apply font-medium leading-tight mb-2 text-3xl;
    font-family: 'Merriweather Sans', 'Open Sans', sans-serif;
  }
  h3 {
    @apply font-medium leading-tight mt-4 mb-4 text-2xl;
    font-family: 'Merriweather Sans', 'Open Sans', sans-serif;
  }
  h4 {
    @apply font-medium leading-tight mt-4 mb-4 text-xl;
    font-family: 'Merriweather Sans', 'Open Sans', sans-serif;
  }
  h5 {
    @apply font-medium leading-tight mb-2 text-lg;
    font-family: 'Merriweather Sans', 'Open Sans', sans-serif;
  }
  h6 {
    @apply font-medium leading-tight mb-2 text-base;
    font-family: 'Merriweather Sans', 'Open Sans', sans-serif;
  }
  p {
    @apply mb-3 leading-relaxed text-slate-500 dark:text-slate-300 font-thin;
  }
  p > strong {
    @apply font-bold;
  }
  code,
  pre {
    @apply bg-slate-50 dark:bg-slate-800 text-rose-600 dark:text-yellow-500 px-1 py-0.5;
  }
  table {
    @apply table-auto;
  }
  thead {
    @apply border-b bg-gray-50 dark:bg-gray-700;
  }
  thead th {
    @apply py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400;
  }
  tbody tr {
    @apply bg-white border-b dark:bg-gray-800 dark:border-gray-700;
  }
  tbody tr td {
    @apply py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400;
  }

  #blog-layout a {
    @apply underline text-indigo-500 dark:text-amber-400;
  }
}

@layer components {
  .link {
    @apply underline text-indigo-500 ;
  }
}