<footer class="bg-blue-marguerite-600 dark:bg-gray-950 text-white font-thin p-4 text-center border-t-2 border-t-black py-8 mb-8 md:mb-0">
  <p class="text-sm text-white">
    Made with{' '}
    <a class="text-white underline" href="https://astro.build/" target="_blank">Astro</a>{' '}
    and ❤️
  </p>
</footer>