<footer class="bg-white-800 text-slate-400 dark:text-slate-500 font-thin p-4 text-center border-t border-t-gray-400 dark:border-t-gray-800 py-8">
  <p class="text-sm">
    Made with{' '}
    <a class="link" href="https://astro.build/" target="_blank">
      Astro
    </a>{' '}
    and ❤️
  </p>
</footer>