---
import Icon from "@components/Common/Icon/Icon.astro";
import NavbarLink from "@components/Common/Links/NavbarLink.astro";
---

<div
  class="flex flex-col space-y-4 md:space-y-0 md:flex-row items-center p-2 md:px-0 md:py-4 w-full max-w-4xl mx-auto mb-4"
>
  <nav class="flex-1">
    <ul class="flex flex-row space-x-4 justify-start ml-[-0.7rem]">
      <li>
        <NavbarLink href="/" name="Home" />
      </li>
      <li>
        <NavbarLink href="/blog" name="Blog" />
      </li>
    </ul>
  </nav>


  <div class="p-px rounded-md group hover:bg-gradient-to-r hover:from-rose-500 hover:to-purple-500 duration-300 ease-in-out transition-all">
    <button class="bg bg-indigo-900/80 rounded-md p-2">
      <Icon icon="light_icon" class="dark:fill-white w-5 h-5" />
    </button>
</div>
</div>
