---
import Icon from "@components/Common/Icon/Icon.astro";
import NavbarLink from "@components/Common/Links/NavbarLink.astro";
import ThemeToggleButton from "./ThemeToggleButton";
---

<div
  class="flex flex-col space-y-4 md:space-y-0 md:flex-row items-center p-2 md:px-0 md:py-4 w-full max-w-4xl mx-auto mb-4"
>
  <nav class="flex-1">
    <ul class="flex flex-row space-x-4 justify-start ml-[-0.7rem]">
      <li>
        <NavbarLink href="/" name="Home" />
      </li>
      <li>
        <NavbarLink href="/blog" name="Blog" />
      </li>
      <li>
        <NavbarLink href="/blog" name="Digital Garden" />
      </li>
    </ul>
  </nav>


  <ThemeToggleButton client:load />
</div>
