---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About me" description="Stiven Castillo is Javascript Engineer focused in Frontend development and UI design.">

  <section class="flex flex-col-reverse flex-1 h-full justify-start mb-2">
    <div class="flex flex-col flex-1 space-y-4 mt-4">
      <p class="">
        Ever since I learned to program in high school my passion for
        creating systems has systems has grown over time. I started studying
        system ingineer but then I realized that my passion was to work on
        the user experience. Since then I've prepared myself to design user
        experiences in mobile and web applications as a Frontend developer.
      </p>

      <p class="">
        In my free time and to get out of the routine, I dedicate myself to
        tattoo art
        <a
          class="text-sm underline text-indigo-500 "
          href="https://instagram.com/mecastasis"
          target="_blank"
        >
          @mecastasis
        </a>
        , carpentry and spending time with my son. :).
      </p>

      <p class="">
        This site is my online home and I use it to share knowledge, notes
        and thoughts on web/mobile development and design, as well as where
        I keep track of my work and things I find on the web that help me in
        my day to day professional life.
      </p>
    </div>
  </section>
</Layout>
