---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="About me"
  description="Stiven Castillo is Javascript Engineer focused in Frontend development and UI design."
>
  <section class="flex flex-col-reverse flex-1 h-full justify-start mb-16">
    <div class="flex flex-col flex-1 space-y-4 mt-4 text-black-text">

      <figure class=" w-1/2 m-auto">
        <img src="/assets/images/about/about1.svg" alt="About me" />
      </figure>

      <p class="text-black-text">
        I’m a web developer with over 10 years of experience in web application
        development. My primary focus is on frontend development, but I also
        have experience in backend development. In addition, I have self-learned
        UI design skills that enable me to create beautiful and user-friendly
        interfaces. I enjoy working with modern technologies such as React,
        React Native and Vue.js.
      </p>

      <figure class="w-1/2 m-auto">
        <img src="/assets/images/about/about2.svg" alt="About me 2" />
      </figure>

      <p class="text-black-text">
        As a frontend developer, I have worked on projects from small web
        applications to large e-commerce platforms. I enjoy working in teams and
        collaborating with designers and other developers to create efficient
        and effective solutions. My UI design skills allow me to understand the
        needs of the end-users and create user interfaces that are not only
        visually appealing, but also easy to use.
      </p>

      <p class="text-black-text">
        In my work as a backend developer, I have primarily worked on RESTful
        API development, databases, microservices and third-party service
        integration. I have experience in technologies such as Node.js, Django
        and Laravel. As a personal project, I’m learning about GraphQL
        integration with Node.js and express.
      </p>

      <p class="text-black-text">
        In my free time and to get out of the routine, I dedicate myself to
        tattoo art and illustration
        <a
          class="underline text-blue-marguerite-600 dark:text-lavender-rose-400 "
          href="https://instagram.com/mecastasis"
          target="_blank"
        >
          @mecastasis
        </a>
      </p>

      <figure class="w-1/2 m-auto">
        <img src="/assets/images/about/about4.svg" alt="About me 3" />
      </figure>

      <p class="text-black-text">
        As a bonus: I'm also an active member of technology communities such as
        <a
          class="underline text-blue-marguerite-600 dark:text-lavender-rose-400"
          href="https://gdg.community.dev/gdg-cali/"
          target="_blank"
        >GDGCali</a>
        where I'm co-organizer and Calijs as speaker.
      </p>

      <p class="text-black-text">
        This site is my online home and I use it to share knowledge, notes
        and thoughts on web/mobile development and design, as well as where
        I keep track of my work and things I find on the web that help me in
        my day to day professional life.
      </p>

    </div>
  </section>
</Layout>
