---
import Post from '@components/Blog/Post';
import type { MarkdownInstance } from 'astro';
import Layout from '../layouts/Layout.astro';
import type { FrontMatter } from '../types';

const posts = (await Astro.glob<MarkdownInstance<FrontMatter>>('./blog/**/*.{md,mdx}')).sort(
  (a, b) => new Date(b.frontmatter.publishedAt).valueOf() - new Date(a.frontmatter.publishedAt).valueOf()
);
---

<Layout title="Blog" description="My personal blog where I share what I have grown in my digital garden.">
  <div class="flex flex-col flex-1 h-full">
    {posts.map((post) => <Post data={post} />)}
  </div>
</Layout>
