---
import Post from '@components/Blog/Post';
import PageLayout from '@layouts/PageLayout.astro';
import { CollectionEntry, getCollection } from 'astro:content';

const posts = (await getCollection('blog', (post => post.data.published))).sort(
  (a, b) =>
    Date.parse(`${b.data.publishedAt}`) - Date.parse(`${a.data.publishedAt}`)
);

const breadcrumbs = [
  { name: "Home", url: "/" },
  { name: "Blog", url: "/blog" },
]
---

<PageLayout
  title="Blog"
  description="I write about design and web development with React as well as becoming a better developer. Discover whatever you are interested in!"
  breadcrumbs={breadcrumbs}
  image="/assets/images/about/blog.svg">
  <section class="flex flex-col flex-1 h-full">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-4 gap-y-4 mb-16">
      {posts.map((post: CollectionEntry<'blog'>, index: number) => <Post data={post} pinned={index === 0} size={index === 0 ? 'large' : 'medium'} />)}
    </div>

  </section>
</PageLayout>
