---
import Tag from "@components/Common/Tags/Tag.astro";
import Note from "@components/Notes/Note.astro";
import type { MarkdownInstance } from "astro";
import Layout from "../layouts/Layout.astro";
import type { NotesFrontMatter } from "../types";

const allNotes = await Astro.glob<MarkdownInstance<NotesFrontMatter>>(
  "./digital-garden/*.{md,mdx}"
);
const uniqueTags = [
  ...new Set(allNotes.map((note) => note.frontmatter.tags).flat()),
];
---

<Layout
  title="Digital Garden"
  description="My personal digital garden with lots of personal notes, ideas, small snippets and tricks."
>
  <div class="flex flex-col flex-1 h-full">
    <h1>Digital Garden</h1>
    <p>
      This is a personal wiki of interesting things (notes) that I've collected
      while working, reading and live.
    </p>

    <section class="mt-6 mb-4">
      <p class="text-xs">Filter by Categories:</p>

      <ul class="flex flex-wrap flex-row gap-2">
        {
          uniqueTags.map((tag) => (
            <Tag url={`digital-garden/tags/${tag}`} name={tag ?? '--'} />
          ))
        }
      </ul>
    </section>

    <section class="my-4">
      <ul class="grid grid-cols-1 md:grid-cols-2 gap-2">
        {
          allNotes.map(({ url, frontmatter: { title, description } }) => (
            <Note url={url} title={title} description={description} />
          ))
        }
      </ul>
    </section>

  </div>
</Layout>
