---
import format from "date-fns/format";
import type { NotesFrontMatter } from "../../types";
import type { MarkdownInstance } from "astro";
import HomeSection from "./components/HomeSection.astro";

interface Props {
  notes: MarkdownInstance<NotesFrontMatter>[];
}

const { notes } = Astro.props;
const listNotes = notes.slice(0, 9);
---

<HomeSection
  title="Digital Garden"
  className="flex flex-col flex-1 space-y-1"
>
  <ul class="grid grid-cols-1 md:grid-cols-3 gap-2">
    {
      listNotes.map(({ url, frontmatter: { title } }) => (
        <li class="group">
          <a
            href={url}
            class="flex flex-col py-3 px-5 rounded-md bg-slate-100 dark:bg-gray-800 dark:group-hover:bg-gray-800/60 transition duration-150"
          >
            <span class="group-hover:underline">{title}</span>
          </a>
        </li>
      ))
    }
  </ul>
</HomeSection>
