---
interface Props {
  url?: string;
  title: string;
  description?: string;
  slim?: boolean;
}
const { url, title, description, slim = false } = Astro.props;
---

<li class="group">
  <a
    href={url}
    class="flex flex-col py-3 px-5 transition duration-150 rounded-md bg-slate-100 dark:bg-gray-800 dark:group-hover:bg-gray-800/60"
  >
    <span class="group-hover:underline text-lg">{title}</span>
    {!slim && <span class=" text-xs text-slate-500">{description}</span>}
  </a>
</li>
