---
interface Props {
  name: string
  href: string
}

const { href, name } = Astro.props;
---

<a
  href={href}
  class="text-gray-800 dark:text-white group block p-1 sm:px-3 sm:py-2"
>
  <span
    class="pb-1 capsize bg-left-bottom bg-gradient-to-r from-dark-grey to-dark-black from-indigo-500 via-purple-500 to-pink-500 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-150 ease-out"
    >{name}</span
  >
</a>
